<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" type="text/css" href="static/style.css">

  <head>
    {% block head %}

    <title>Mowtown Beatdown</title>

    <h1>
      <b>
        <p align="center">
          <span style="color.red">Motown Beatdown</span>
        </p>
      </b>
    </h1>

    <hr width="100%" height="25px" color="black">

    {% endblock %}
  </head>

  <body>
    {% block body %}

    <p align="center">
      <img width="350px" height="300px", src="static/images/wagonwheel.jpg">
    </p>
    <p align="center">
      <a href="https://www.officefootballpool.com/picks" target=_blank">WanPing Zhang Zen</a>
    </p>
    <p align="center">
    <a href="http://127.0.0.1:5000/admin/" color = "black" target=_blank">Make Your Pick</a>
    </p>

    {% endblock %}
  </body>

</html>
